body {
    font-family: var(--primary-font);
    color: var(--primary-gray-color);
    background-color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link-social {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    fill: currentColor;
    color: var(--primary-white-color);
    background-color: var(--primary-blue-color);
    border-radius: 50%;
    transition: background-color var(--animation);
}

.link-social:hover,
.link-social:focus {
    background-color: var(--primary-accent-color);
}

.icon-social {
    fill: currentColor;
    color: var(--secondary-white-color);
}

.list-wrap {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-text {
    color: var(--primary-gray-color);
    font-size: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-block {
    color: var(--secondary-gray-color);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
}